<div class="dashboard-container">
  <h3>Institution Dashboard</h3>
   
  <nav class="dashboard-nav">
    <button (click)="setView('upload')">Upload Document</button>
    <button (click)="setView('view-docs')">View User Documents</button>
    <!-- <button (click)="setView('access-control')">Manage Access</button> -->
    <button (click)="setView('logs')">View Access Logs by User</button>
  </nav>

  <div class="dashboard-content">
    <ng-container [ngSwitch]="activeView">
      <app-institution-upload *ngSwitchCase="'upload'"></app-institution-upload>
      <app-institution-user-docs *ngSwitchCase="'view-docs'"></app-institution-user-docs>
      <app-institution-access-control *ngSwitchCase="'access-control'"></app-institution-access-control>
      <app-institution-logs *ngSwitchCase="'logs'"></app-institution-logs>
      <p *ngSwitchDefault>Select a view</p>
    </ng-container>
  </div>
</div>
