.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d6efd;
    padding: 1rem, 2rem;
    color: white;
}

.logo {
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-links{
    list-style:none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.navbar-links li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;

}
.navbar-links li a.active,
.navbar-links li a:hover{
    text-decoration: underline;
}
